@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "myriadLight";
  src: url(fonts/Myriad\ Pro\ Light.otf) format("opentype");
}

@font-face {
  font-family: "myriadRegular";
  src: url(fonts/Myriad\ Pro\ Regular.ttf) format("opentype");
}

@font-face {
  font-family: "myriadBold";
  src: url(fonts/Myriad\ Pro\ Bold.ttf) format("opentype");
}

@font-face {
  font-family: "myriadBlack";
  src: url(fonts/Myriad\ Pro\ Black.otf) format("opentype");
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}
/* 
.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
} */

/* ALL STYLES  */

.div--triangle {
  width: fullWidth;
  height: fullHeight;
  background: #eae8e8;
  clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 70%, 50% 85%, 0 70%);
  padding: 5rem;
}

.div--joinTriangle {
  width: fullWidth;
  background: #2f1a45;
  color: #fafafa;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  padding-top: 50px;
  padding-left: 10px;
  text-align: start;
  margin-bottom: 10vh;
}

.div--joinBackwardsTriangle {
  width: fullWidth;
  background: #2f1a45;
  color: #fafafa;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  padding-top: 50px;
  padding-right: 10px;
  text-align: end;
  margin-top: 10vh;
}

.div--promos {
  width: fullWidth;
  height: fullHeight;
  background: #e1e1e1;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  margin-bottom: 10%;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 90%;
}
li {
  margin-left: 22px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
  list-style: decimal;
}
ol > li::marker {
  font-family: myriadBold;
}
/* Button Style*/
.btn {
  @apply font-bold font-raleway py-2 px-4 rounded-xl md:text-2xl md:px-6 md:py-4;
}
.btn-orange {
  @apply bg-myOrange text-white;
}
.btn-orange:hover {
  @apply bg-myYellow;
}
